## Map reduce and filter

high order functions
     -  the insput can be a funciton
     -  the output can be a function

when each element is being passed through a function

In [1]:
import pandas as pd

#### Create a DataFrame

In [2]:
last_names = pd.Series(['Abreu','Chang','De Sanctis','Höhne','Munne','Pardo','Foradada','Basbug','Guerguy','Akesson','Petit','Taskin','Ferri','Rocher'])

In [6]:
names = pd.Series(['Alberto','Chao-Ting','Emanuele','Fabia','Ingrid','Javier','Josep','Kerim','Laurent','Lucas','Miquel','Onur','Pau','Salva'])

In [7]:
points = pd.Series([10,31,54,72,84,22,44,76,48,87,25,66,39,51])

In [8]:
students = pd.DataFrame({'names': names, 'last_names': last_names, "points": points})
students

        names  last_names  points
0     Alberto       Abreu      10
1   Chao-Ting       Chang      31
2    Emanuele  De Sanctis      54
3       Fabia       Höhne      72
4      Ingrid       Munne      84
5      Javier       Pardo      22
6       Josep    Foradada      44
7       Kerim      Basbug      76
8     Laurent     Guerguy      48
9       Lucas     Akesson      87
10     Miquel       Petit      25
11       Onur      Taskin      66
12        Pau       Ferri      39
13      Salva      Rocher      51

you can create a interable for each element of the list through a function throguh the following steps:

In [9]:
lst = [1,2,3,4]

In [10]:
def half(x):
    return x/2

with def x (function, iterable): you run a previously defined funciton through a def function

In [11]:
def new_calculator(function, iterable):
    result = map(function, iterable)
    return list(result)

## note the list(result) !! if only print(result) will give you an OBJECT

In [12]:
new_calculator (half, lst)

[0.5, 1.0, 1.5, 2.0]

## Map
#####  to avoid using the ful def(fucntion) use map(fucntion, lst)

In [13]:
list(map(half, lst))

[0.5, 1.0, 1.5, 2.0]

In [14]:
# with lambda
list(map(lambda x: x/2, lst))

[0.5, 1.0, 1.5, 2.0]

##  Filer

apply a function to a lst that outputs a the TRUE values of list when passing through a funciton
THE FUNCITON ALLWAYS HAS TO RETURN TRUE OF FALSE

In [15]:
lst = [1,2,3,4]

In [16]:
def odds(x):
    return x % 2!= 0

In [18]:
list(filter(odds, lst))
list(filter(lambda x: x%2 != 0, lst))

[1, 3]

In [19]:
list(map(lambda x: x%2 != 0, lst))
# map will return the return for EACH element of the list
# fitler will return only the values which are TRUE

[True, False, True, False]

## Pandas

In [33]:
students = pd.DataFrame({'names': names, 'last_names': last_names, "points": points})

In [34]:
# add/ change the values in the db:
# divide studnet points by 2
# students["points"].apply(half)
students["half-points"] = students["points"].apply(half)
students

        names  last_names  points  half-points
0     Alberto       Abreu      10          5.0
1   Chao-Ting       Chang      31         15.5
2    Emanuele  De Sanctis      54         27.0
3       Fabia       Höhne      72         36.0
4      Ingrid       Munne      84         42.0
5      Javier       Pardo      22         11.0
6       Josep    Foradada      44         22.0
7       Kerim      Basbug      76         38.0
8     Laurent     Guerguy      48         24.0
9       Lucas     Akesson      87         43.5
10     Miquel       Petit      25         12.5
11       Onur      Taskin      66         33.0
12        Pau       Ferri      39         19.5
13      Salva      Rocher      51         25.5

In [28]:
students = pd.DataFrame({'names': names, 'last_names': last_names, "points": points})
# or 
students["points"] = students["points"].apply(lambda x: x/2)

students

        names  last_names  points
0     Alberto       Abreu     5.0
1   Chao-Ting       Chang    15.5
2    Emanuele  De Sanctis    27.0
3       Fabia       Höhne    36.0
4      Ingrid       Munne    42.0
5      Javier       Pardo    11.0
6       Josep    Foradada    22.0
7       Kerim      Basbug    38.0
8     Laurent     Guerguy    24.0
9       Lucas     Akesson    43.5
10     Miquel       Petit    12.5
11       Onur      Taskin    33.0
12        Pau       Ferri    19.5
13      Salva      Rocher    25.5

In [35]:
students["points-minus-one"] = students["points"].apply(lambda x: x-1)

students

        names  last_names  points  half-points  points-minus-one
0     Alberto       Abreu      10          5.0                 9
1   Chao-Ting       Chang      31         15.5                30
2    Emanuele  De Sanctis      54         27.0                53
3       Fabia       Höhne      72         36.0                71
4      Ingrid       Munne      84         42.0                83
5      Javier       Pardo      22         11.0                21
6       Josep    Foradada      44         22.0                43
7       Kerim      Basbug      76         38.0                75
8     Laurent     Guerguy      48         24.0                47
9       Lucas     Akesson      87         43.5                86
10     Miquel       Petit      25         12.5                24
11       Onur      Taskin      66         33.0                65
12        Pau       Ferri      39         19.5                38
13      Salva      Rocher      51         25.5                50